# Credentials example for individual sensors

# Copy this file to credentials.ini and edit.

[all_sensors]
url = "https://sensors.codepaw.com"
sensor_set_id = "test"
power_drain = "low"

# wifi_credentials Format: SSID:Password;SSID2:Password2;...
# Separate each network with semicolon (;)

[sensor_1]
sensor_id = "sensor_1"
wifi_credentials = "wifi_password_for_sensor1"
bearer_token = "bearer_token_for_sensor1"
sda_gpio = 8
scl_gpio = 9
keepalive_led_gpio = 38

[sensor_2]
sensor_id = "sensor_2"
wifi_credentials = "a_different_password"
bearer_token = "a_different_token"
sda_gpio = 8
scl_gpio = 9
keepalive_led_gpio = 38
