# Credentials example for individual sensors

# Copy this file to credentials.ini and edit.

[all_sensors]
url = "https://sensors.codepaw.com"
sensor_set_id = "test"

# wifi_credentials Format: SSID:Password;SSID2:Password2;...
# Separate each network with semicolon (;)

[sensor_1]
sensor_id = "sensor_1"
wifi_credentials = "SSID:Password"
bearer_token = "bearer_token_for_sensor1"
sda_gpio = 8
scl_gpio = 9

[sensor_2]
sensor_id = "sensor_2"
wifi_credentials = "SSID:Password"
bearer_token = "a_different_token"
sda_gpio = 8
scl_gpio = 9
