CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y

# We saw this today: Error: The program size (1055286 bytes) is greater than maximum allowed (1048576 bytes)
# Disable unused components
CONFIG_BT_ENABLED=n
CONFIG_BLUEDROID_ENABLED=n
CONFIG_BTC_TASK_STACK_SIZE=0
CONFIG_ESP_CONSOLE_MULTIPLE_UART=n
CONFIG_ESP_CONSOLE_UART=n

# Reduce memory usage
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=2048
CONFIG_ESP_TIMER_TASK_STACK_SIZE=2048
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=768

CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_LOG_DEFAULT_LEVEL=2
CONFIG_LOG_MAXIMUM_LEVEL=3